Bibek Shiwakoti


Lecture 1 Jan 10 2024

In [2]:
print('Hello world')

Hello world

In [39]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('../data/mtcars (3).csv')

In [11]:
df.head()

,Unnamed: 0,vichle_names,mpg,cyl,disp,hp,drat,wt,qsec,v_Shape,am,gear,carb
0,0,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4
1,1,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4
2,2,Datsun 710,NaN,4,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1
3,3,Hornet 4 Drive,21.4,6,258.0,NaN,3.08,3.215,19.44,1.0,0.0,3.0,1
4,4,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0.0,0.0,NaN,2

In [12]:
df.tail()

,Unnamed: 0,vichle_names,mpg,cyl,disp,hp,drat,wt,qsec,v_Shape,am,gear,carb
27,27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.9,1.0,1.0,5.0,2
28,28,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.5,0.0,1.0,5.0,4
29,29,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.5,0.0,1.0,5.0,6
30,30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.6,0.0,1.0,5.0,8
31,31,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.6,1.0,1.0,4.0,2

In [16]:
df.isnull().sum()

Unnamed: 0      0
vichle_names    0
mpg             2
cyl             0
disp            0
hp              1
drat            1
wt              0
qsec            3
v_Shape         2
am              4
gear            3
carb            0
dtype: int64

In [18]:
df.notna().sum()

Unnamed: 0      32
vichle_names    32
mpg             30
cyl             32
disp            32
hp              31
drat            31
wt              32
qsec            29
v_Shape         30
am              28
gear            29
carb            32
dtype: int64

In [19]:
df.notnull().sum()

Unnamed: 0      32
vichle_names    32
mpg             30
cyl             32
disp            32
hp              31
drat            31
wt              32
qsec            29
v_Shape         30
am              28
gear            29
carb            32
dtype: int64

In [24]:
print(df.shape)
#gives rows and columns

(32, 13)

In [30]:
df.shape[0]
#gives only rows

32

In [29]:
df.shape[1]
#shows only columns

13

In [32]:
df.isnull().mean()
#gives ratio of missing value

Unnamed: 0      0.00000
vichle_names    0.00000
mpg             0.06250
cyl             0.00000
disp            0.00000
hp              0.03125
drat            0.03125
wt              0.00000
qsec            0.09375
v_Shape         0.06250
am              0.12500
gear            0.09375
carb            0.00000
dtype: float64

In [37]:
df.dtypes
#gives data types of all columns

Unnamed: 0        int64
vichle_names     object
mpg             float64
cyl               int64
disp            float64
hp              float64
drat            float64
wt              float64
qsec            float64
v_Shape         float64
am              float64
gear            float64
carb              int64
dtype: object

In [45]:
#splitting into numeric and categorical dataframe


numeric_data = df.select_dtypes(include=np.number)
categorical_data = df.select_dtypes(exclude=np.number)

In [42]:
print(numeric_data)

    Unnamed: 0   mpg  cyl   disp     hp  drat     wt   qsec  v_Shape   am  \
0            0  21.0    6  160.0  110.0  3.90  2.620  16.46      0.0  1.0
1            1  21.0    6  160.0  110.0  3.90  2.875  17.02      0.0  1.0
2            2   NaN    4  108.0   93.0  3.85  2.320  18.61      1.0  1.0
3            3  21.4    6  258.0    NaN  3.08  3.215  19.44      1.0  0.0
4            4  18.7    8  360.0  175.0  3.15  3.440  17.02      0.0  0.0
5            5  18.1    6  225.0  105.0  2.76  3.460    NaN      1.0  0.0
6            6  14.3    8  360.0  245.0   NaN  3.570  15.84      0.0  NaN
7            7  24.4    4  146.7   62.0  3.69  3.190  20.00      NaN  0.0
8            8  22.8    4  140.8   95.0  3.92  3.150    NaN      1.0  0.0
9            9  19.2    6  167.6  123.0  3.92  3.440  18.30      1.0  NaN
10          10   NaN    6  167.6  123.0  3.92  3.440  18.90      1.0  0.0
11          11  16.4    8  275.8  180.0  3.07  4.070  17.40      NaN  0.0
12          12  17.3    8  275.8  180.0  3.07  3.730    NaN      0.0  0.0
13          13  15.2    8  275.8  180.0  3.07  3.780  18.00      0.0  0.0
14          14  10.4    8  472.0  205.0  2.93  5.250  17.98      0.0  NaN
15          15  10.4    8  460.0  215.0  3.00  5.424  17.82      0.0  0.0
16          16  14.7    8  440.0  230.0  3.23  5.345  17.42      0.0  0.0
17          17  32.4    4   78.7   66.0  4.08  2.200  19.47      1.0  NaN
18          18  30.4    4   75.7   52.0  4.93  1.615  18.52      1.0  1.0
19          19  33.9    4   71.1   65.0  4.22  1.835  19.90      1.0  1.0
20          20  21.5    4  120.1   97.0  3.70  2.465  20.01      1.0  0.0
21          21  15.5    8  318.0  150.0  2.76  3.520  16.87      0.0  0.0
22          22  15.2    8  304.0  150.0  3.15  3.435  17.30      0.0  0.0
23          23  13.3    8  350.0  245.0  3.73  3.840  15.41      0.0  0.0
24          24  19.2    8  400.0  175.0  3.08  3.845  17.05      0.0  0.0
25          25  27.3    4   79.0   66.0  4.08  1.935  18.90      1.0  1.0
26          26  26.0    4  120.3   91.0  4.43  2.140  16.70      0.0  1.0
27          27  30.4    4   95.1  113.0  3.77  1.513  16.90      1.0  1.0
28          28  15.8    8  351.0  264.0  4.22  3.170  14.50      0.0  1.0
29          29  19.7    6  145.0  175.0  3.62  2.770  15.50      0.0  1.0
30          30  15.0    8  301.0  335.0  3.54  3.570  14.60      0.0  1.0
31          31  21.4    4  121.0  109.0  4.11  2.780  18.60      1.0  1.0

    gear  carb
0    4.0     4
1    4.0     4
2    4.0     1
3    3.0     1
4    NaN     2
5    3.0     1
6    3.0     4
7    4.0     2
8    NaN     2
9    4.0     4
10   4.0     4
11   NaN     3
12   3.0     3
13   3.0     3
14   3.0     4
15   3.0     4
16   3.0     4
17   4.0     1
18   4.0     2
19   4.0     1
20   3.0     1
21   3.0     2
22   3.0     2
23   3.0     4
24   3.0     2
25   4.0     1
26   5.0     2
27   5.0     2
28   5.0     4
29   5.0     6
30   5.0     8
31   4.0     2

In [43]:
print(categorical_data)

           vichle_names
0             Mazda RX4
1         Mazda RX4 Wag
2            Datsun 710
3        Hornet 4 Drive
4     Hornet Sportabout
5               Valiant
6            Duster 360
7             Merc 240D
8              Merc 230
9              Merc 280
10            Merc 280C
11           Merc 450SE
12           Merc 450SL
13          Merc 450SLC
14   Cadillac Fleetwood
15  Lincoln Continental
16    Chrysler Imperial
17             Fiat 128
18          Honda Civic
19       Toyota Corolla
20        Toyota Corona
21     Dodge Challenger
22          AMC Javelin
23           Camaro Z28
24     Pontiac Firebird
25            Fiat X1-9
26        Porsche 914-2
27         Lotus Europa
28       Ford Pantera L
29         Ferrari Dino
30        Maserati Bora
31           Volvo 142E

In [50]:
df.index.name='My_Index'

In [51]:
df.index.name

'My_Index'

In [55]:
print(df)

          Unnamed: 0         vichle_names   mpg  cyl   disp     hp  drat  \
My_Index
0                  0            Mazda RX4  21.0    6  160.0  110.0  3.90
1                  1        Mazda RX4 Wag  21.0    6  160.0  110.0  3.90
2                  2           Datsun 710   NaN    4  108.0   93.0  3.85
3                  3       Hornet 4 Drive  21.4    6  258.0    NaN  3.08
4                  4    Hornet Sportabout  18.7    8  360.0  175.0  3.15
5                  5              Valiant  18.1    6  225.0  105.0  2.76
6                  6           Duster 360  14.3    8  360.0  245.0   NaN
7                  7            Merc 240D  24.4    4  146.7   62.0  3.69
8                  8             Merc 230  22.8    4  140.8   95.0  3.92
9                  9             Merc 280  19.2    6  167.6  123.0  3.92
10                10            Merc 280C   NaN    6  167.6  123.0  3.92
11                11           Merc 450SE  16.4    8  275.8  180.0  3.07
12                12           Merc 450SL  17.3    8  275.8  180.0  3.07
13                13          Merc 450SLC  15.2    8  275.8  180.0  3.07
14                14   Cadillac Fleetwood  10.4    8  472.0  205.0  2.93
15                15  Lincoln Continental  10.4    8  460.0  215.0  3.00
16                16    Chrysler Imperial  14.7    8  440.0  230.0  3.23
17                17             Fiat 128  32.4    4   78.7   66.0  4.08
18                18          Honda Civic  30.4    4   75.7   52.0  4.93
19                19       Toyota Corolla  33.9    4   71.1   65.0  4.22
20                20        Toyota Corona  21.5    4  120.1   97.0  3.70
21                21     Dodge Challenger  15.5    8  318.0  150.0  2.76
22                22          AMC Javelin  15.2    8  304.0  150.0  3.15
23                23           Camaro Z28  13.3    8  350.0  245.0  3.73
24                24     Pontiac Firebird  19.2    8  400.0  175.0  3.08
25                25            Fiat X1-9  27.3    4   79.0   66.0  4.08
26                26        Porsche 914-2  26.0    4  120.3   91.0  4.43
27                27         Lotus Europa  30.4    4   95.1  113.0  3.77
28                28       Ford Pantera L  15.8    8  351.0  264.0  4.22
29                29         Ferrari Dino  19.7    6  145.0  175.0  3.62
30                30        Maserati Bora  15.0    8  301.0  335.0  3.54
31                31           Volvo 142E  21.4    4  121.0  109.0  4.11

             wt   qsec  v_Shape   am  gear  carb
My_Index
0         2.620  16.46      0.0  1.0   4.0     4
1         2.875  17.02      0.0  1.0   4.0     4
2         2.320  18.61      1.0  1.0   4.0     1
3         3.215  19.44      1.0  0.0   3.0     1
4         3.440  17.02      0.0  0.0   NaN     2
5         3.460    NaN      1.0  0.0   3.0     1
6         3.570  15.84      0.0  NaN   3.0     4
7         3.190  20.00      NaN  0.0   4.0     2
8         3.150    NaN      1.0  0.0   NaN     2
9         3.440  18.30      1.0  NaN   4.0     4
10        3.440  18.90      1.0  0.0   4.0     4
11        4.070  17.40      NaN  0.0   NaN     3
12        3.730    NaN      0.0  0.0   3.0     3
13        3.780  18.00      0.0  0.0   3.0     3
14        5.250  17.98      0.0  NaN   3.0     4
15        5.424  17.82      0.0  0.0   3.0     4
16        5.345  17.42      0.0  0.0   3.0     4
17        2.200  19.47      1.0  NaN   4.0     1
18        1.615  18.52      1.0  1.0   4.0     2
19        1.835  19.90      1.0  1.0   4.0     1
20        2.465  20.01      1.0  0.0   3.0     1
21        3.520  16.87      0.0  0.0   3.0     2
22        3.435  17.30      0.0  0.0   3.0     2
23        3.840  15.41      0.0  0.0   3.0     4
24        3.845  17.05      0.0  0.0   3.0     2
25        1.935  18.90      1.0  1.0   4.0     1
26        2.140  16.70      0.0  1.0   5.0     2
27        1.513  16.90      1.0  1.0   5.0     2
28        3.170  14.50      0.0  1.0   5.0     4
29        2.770  15.50      0.0  1.0   5.0     6
30        3.570  14.60      0.0  1.0   5.0     8
31        2.780  18.60      1.0  1.0   4.0     2

In [56]:
nme = ['arpana','pankaj','sudhir','Geeku']
deg = ['MBA','BCA','M.Tech','MBA']
scr=[90,40,80,98]

In [58]:
dict ={'name':nme,'degree':deg,'score':scr}
df=pd.DataFrame(dict)

In [59]:
print(df)

     name  degree  score
0  arpana     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98

In [60]:
df.to_csv('file1.csv')

In [61]:
df.to_json('file1.json')

In [62]:
df2 = pd.read_json('file1.json')

In [63]:
print(df2)

     name  degree  score
0  arpana     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98

In [65]:
df3= pd.read_csv('file1.csv')
print(df3)

   Unnamed: 0    name  degree  score
0           0  arpana     MBA     90
1           1  pankaj     BCA     40
2           2  sudhir  M.Tech     80
3           3   Geeku     MBA     98